[submodule "extern/libme"]
	path = extern/libme
	url = https://github.com/Ficklampan/libme.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/vulkan"]
	path = extern/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
